<div class="panel panel-default">
    <div class="panel-heading">
        <h2><%= link_to @article.title, @article %></h2> posted on <%= @article.created_at %>
    </div>
    <div class="panel-body">
        <%= markdown(@article.text) %>
    </div>
</div>

<%= link_to 'Back', articles_path %>
<%= link_to 'Delete', @article, method: :delete, data: { confirm: "You sure?" } %>
<%= link_to 'Edit', edit_article_path(@article) %>