<% provide(:title, "Blog") %>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2><%= link_to @article.title, article_path(@article, :protocol => 'http') %></h2>
        <%= @article.created_at.strftime("%B %-d, %Y") %>
    </div>
    
    <div class="panel-body">
        <%= markdown(@article.text) %>
    </div>

    <div class="panel-footer">
        <%= link_to 'Back', articles_path, class: "btn btn-primary" %>
        <%= link_to 'Delete', @article, method: :delete,
                              data: { confirm: "You sure?" },
                              class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_article_path(@article),
                            class: "btn btn-primary" %>
    </div>
</div>